/*Main*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#background__video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.background__cover{
    background-color: black;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 40%;
}

.header__container{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page__container{
    display:flex;
    flex-direction:row;
}

.form__container{
    position: absolute;
    top: 12.5rem;
    left: 10rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.result__container{
    position: absolute;
    top: 35rem;
    right: 10rem;
    width: 50%;
}

/*Index*/

.header{
    position: absolute;
    font-size: 8rem;
    top: 10rem;
    font-weight: normal;
    color: white;
    text-shadow: 0.25rem 0.25rem 0.25rem black;
}

#button{
    position:relative;
    top: 5rem;
    font-size: 2rem;
    margin: 0 3rem;
    height: 6rem;
    width: 25rem;
    border-radius: 1000rem;
    border-color: #ffdeda;
    background-color: #a6564c;
    cursor: pointer;
    color: white;
    text-shadow: 0.25rem 0.25rem 0.25rem black;
}

#button:hover{
    text-decoration: underline;
}

/*Form*/
.form__text{
    position: relative;
    color: white;
    font-size: 2rem;
    text-shadow: 0.25rem 0.25rem 0.25rem black;
}

.form__control{
    font-size: 1.5rem;
    text-align:center;
}

/*Result*/
.result__text{
    position: relative;
    color: white;
    font-size: 3rem;
    width: 60rem;
    left: 5rem;
    text-shadow: 0.25rem 0.25rem 0.25rem black;
}

/*Media Queries*/

@media (max-width: 22.5em) {

}